.heading2 {
  font-size: 30px;
  line-height: 1.5;
  color: #0f2137;
  font-weight: 500;
  letter-spacing: -0.5px;
  display: flex;
  justify-content: center;
}

.heading2_text {
  font-size: 16px;
  line-height: 2.2;
  color: #0f2137;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
