@import "../../style/veriables.scss";

$text: "#343D48"; // body color and primary color
$textSecondary: "#02073E"; // secondary body color
$heading: "#0F2137"; // primary heading color
$headingSecondary: "#343D48"; // heading color
$background: "#FFFFFF"; // body background color
$backgroundSecondary: "#F9FBFD"; // secondary background color
$borderColor: "#F3F4F5"; // border color
$primary: "#28DDB2"; // primary button and link color
$secondary: "#EF9E48"; // secondary color - can be used for hover states
$muted: "#7B8188"; // muted color
$accent: "#609"; // a contrast color for emphasizing UI
$dark: "#10132D";
$link: "#4F96FF"; // default link color

$heading-main: 35px;
$heading-sub: 30px;
$textsize: 16px;
$h4: 18px;

.main_heading {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-weight: 700;
  font-size: $heading-main;
  line-height: 1.33;
  letter-spacing: -1px;
  color: #02073e;
  margin: 35px 0;
}
.text {
  color: #02073e;
  line-height: 1.85;
  font-size: 16px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  text-align: justify;
}
.textMuted {
  font-weight: 500;
  color: #7b8188;
  opacity: 0.7;
}

/*
========== about us page ===========
*/

.about__list {
  ul {
    li {
      font-size: 16px;
      line-height: 2.5;
    }
  }
}
