$bg-header: #0a2542;
@import "../../style/veriables.scss";

.headerWrapper {
  z-index: 99999;
  // --bg-header: #0a2542;

  // background-color: var(--bg-header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg-header;
  padding: 1.8rem 4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    li {
      margin: 0 1rem;
      a {
        color: #ffffff;
        font-weight: 500;
      }
    }
  }
}
