
.line {
  border: 0 none;
  border-top: 1px solid #3adc90;
  // height: 2px;
  margin-bottom: 45px;
  color: #3adc90;
  background: #3adc90;
}
.calcGrid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

/*
    ============ Footer Menu ============
*/
.list {
  ul {
    margin-top: 28px;
    list-style: none;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;

    li {
      line-height: 2.5;
    }
  }
}
.calcTitle {
  font-size: 18px;
  color: #ffffff;
}
